@import '~bootstrap/scss/bootstrap';

.navbar {
  background: #EF8B37;
  display: flex;
}

.theBanner {
  margin: 10px;
  max-width: 500px;
}

@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: white;
  }
  
  .navbar {
    background: #343a40;
  }
}